* {
  background-color: lightgrey;
}

.containers {
  display: flex;
  width: 100%;
}

.container-add {
  background-color: white;
  width: 75%;
  margin: 15px;
}

.container-results {
  background-color: white;
  width: 25%;
  margin: 15px;
}

.adding-full-box {
  background-color: inherit;
  display: flex;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
#product-name,
.add {
  background-color: inherit;
  width: 80%;
  padding: 15px;
}

.add {
  background-color: #1b86d1;
  color: white;
  width: 20%;
}
.list-iteams {
  width: 100%;
  margin: 15px;
  box-sizing: border-box;
}

h3 {
  background-color: inherit;
  margin: 10px;
}

.product-item {
  background-color: lightgray;
  display: inline-block;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
.amount {
  background-color: orange;
  border-radius: 10px;

  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
}
